.details-wrapper {
	padding: 2rem 0;
}

.description-wrapper {
	margin       : 2rem 0;
	border-bottom: 2px solid slategray;
}

.holder {
	position             : relative;
	display              : grid;
	grid-template-columns: 20% auto;
}

.ingredient-info {
	border-right: 1px solid #cecece;
}

.steps-info {
	grid-column-start: 2;
	padding-left     : 2rem;
}