header {
	padding: 1rem 0;
}

.logo {
	width: 6rem;

	@media (max-width: 500px) {
		margin-bottom: 1rem;
	}
}

.header-content {
	justify-content: space-between;
	align-items    : center;

	a {
		color: $accentColor;

		&:hover {
			border-bottom: 1px solid $accentColor;
		}
	}

	.is-active {
		color        : $darkMain;
		border-bottom: 1px solid $darkMain;
	}

	@media (max-width: 500px) {
		flex-direction: column;
	}
}

nav {
	ul {
		margin-bottom: 0;
	}

	li {
		list-style-type: none;
		display        : inline-block;
		padding        : 0 2rem;

		@media (max-width: 500px) {
			padding: 0 1rem;
		}
	}
}