.recipe-list {
	background-color: $generalBackground;
	display         : flex;
	flex-grow       : 1;

	button {
		background-color: $rgbaBgAccentColor;
		border-color    : $rgbaBgAccentColor;
		color           : $charcoal;
	}
}