.step-item {
    padding: 1rem;
    border-bottom: 1px solid transparent;

    &:hover {
        background-color: #eff2f5;
        border-bottom: 1px solid #cecece;

        & .step-button {
            display: inline-block;
            opacity: 1;
        }
    }

    button {
        margin-left: 1rem;
    }
}

.step-button {
    display: none;
    opacity: 0;
    transition: opacity 3s;
}